.red {
  color: #e3646e;
}

.purple {
  color: #bb72e9;
}

.blue {
  color: #3996db;
}

.green {
  color: #82bc4f;
}

.yellow {
  color: #eabd5f;
}

.gray-100 {
  color: #e2e4e9;
}

.gray-200 {
  color: #c0c4ce;
}

.gray-300 {
  color: #878ea1;
}

.gray-400 {
  color: #292c34;
}

.gray-500 {
  color: #16181d;
}

.gray-600 {
  color: #0d0e11;
}
