:root {
--red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;
  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  
  --font-family-asap: "Asap", sans-serif;
  --title-lg-asap: bold 56px/120%   var(--font-family-asap);
  --title-md-asap: 24px/120% bold var(--font-family-asap);
  --title-sm-asap: 16px/120% bold var(--font-family-asap);

  --font-family-inc: "Inconsolata", sans-serif;
  --subtitle-inc: bold 20px/120% var(--font-family-inc);

  --font-family-mp: "Maven Pro", sans-serif;
  --text-md-mp: 16px/140% var(--font-family-mp)
  --text-sm-mp: 14px/140% var(--font-family-mp)
}

 

