* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#intro {
  border: 1px solid;
  background: no-repeat center/cover url(/assets/images/Background_Intro.png);
  height: 750px;
}

#perfil {
  display: flex;
  justify-content: center;
  margin-top: 128px;

  margin-bottom: 56px;
}

#code {
  display: flex;
  height: 32px;
  width: 32px;
  position: relative;
  top: 68px;
  right: 28px;
  z-index: 2;
}

#introduction {
  border: 1px solid rgb(240, 240, 245);
  display: flex;
  text-align: center;
}

#tags {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 80px;
}

#scroll {
  display: flex;
  margin-top: 99px;
  justify-content: center;
  a img {
    width: 32px;
    height: 32px;
  }
}

#thumbnail {
  display: grid;
  grid-template-columns: 330px 330px 330px;
  justify-content: center;
  gap: 24px;
}

#my-work {
  background: var(--gray-600);
  height: 480px;
  padding-top: 88px;
  padding-bottom: 120px;
}
#devices {
  display: grid;
  grid-template-columns: 280px 280px 280px;
  justify-content: center;
  gap: 24px;
}

#footer {
  background: no-repeat center/cover url(/assets/images/Background_Contacts.png);
  padding-top: 120px;
  padding-bottom: 200px;
  height: 100%;

  h1 {
    margin-bottom: 8px;
  }

  p {
    text-align: center;
    margin-bottom: 48px;
  }
}

#socialmedia {
  display: grid;
  justify-items: center;
  gap: 16px;

  :hover {
    border: 1.5px solid var(--blue);
  }

  :hover > img {
    pointer-events: none;

    color: var(--blue);
  }

  :hover > p {
    pointer-events: none;
  }

  :hover > span {
    pointer-events: none;
  }
}

.cont {
  height: 155px;
  width: 280px;
  border: 2px solid var(--gray-500);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 120px;
  h1 {
    margin-top: 15px;
    margin-bottom: 8px;
  }
}

.span {
  color: var(--red);
}

.subtitle-inc {
  font: var(--subtitle-inc);
  color: var(--gray-200);
  text-align: center;
}

.text-lg-as {
  margin-top: 8px;
  font: var(--title-lg-asap);
  color: var(--gray-100);
  text-align: center;
}

.text-sm-mp-1 {
  margin-top: 20px;
  font: var(--text-sm-mp);
  color: var(--gray-300);
  text-align: center;
}

.main {
  padding: 72px 120px 144px 120px;
  background-color: var(--gray-500);
}

.title-md-as {
  font: var(--title-md-asap);
  text-align: center;
  margin-top: 8px;
  margin-bottom: 56px;
}

.thumb-div {
  background-color: var(--gray-400);
  height: 280px;
  width: 330px;
  border-radius: 12px;
  padding: 12px;

  img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
    margin-bottom: 12px;
  }

  p {
    margin-top: 8px;
  }
}

.thumb-div:hover {
  border: 1px solid var(--gray-300);
}

.title-sm-asap {
  font: var(--title-sm-asap);
  font-weight: bold;
}

.text-sm-mp {
  font: var(--text-sm-mp);
  text-align: left;
}

.text-md-mp {
  font: var(--text-md-mp);
}

.social {
  display: flex;
  width: 400px;
  height: 68px;
  background-color: var(--gray-400);
  border-radius: 8px;
  padding: 20px;
  align-items: center;
  align-content: center;
  gap: 10px;

  p {
    width: 300px;
    margin-top: 50px;
    text-align-last: left;
  }
}
.img {
  width: 28px;
  height: 28px;
  color: blue;
}
